[package]
authors = ["Andreas Reich <r_andreas2@web.de>"]
edition = "2018"
name = "blub"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytemuck = "1.4.1"
cgmath = {git = "https://github.com/rustgd/cgmath", rev = "50a345b", features = ["rand", "serde"]}
enumflags2 = "0.6"
env_logger = "0.8.2"
futures = "0.3"
image = {version = "0.23", default-features = false, features = ["png", "hdr"]}
imgui = "0.5"
imgui-wgpu = {git = "https://github.com/Wumpf/imgui-wgpu-rs", rev = "8d1fa85"}
imgui-winit-support = {version = "0.5", default-features = false, features = ["winit-22"]}
lazy_static = "1.4"
log = "0.4"
more-asserts = "0.2"
notify = "5.0.0-pre.2"
rand = {version = "0.7.3", features = ["small_rng"]}
regex = "1"
scopeguard = "1.1"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
shaderc = "0.7"
strum = "0.20"
strum_macros = "0.20.1"
tobj = "2.0.2"
wgpu = {git = "https://github.com/gfx-rs/wgpu-rs.git", rev = "e3eadca"}#, features = ["trace"]}
winit = "0.22"

[profile.dev.package."*"]
opt-level = 3
